@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ecb5f7;
}

img {
  max-width: 100%;
  border: white 5px solid;
}

.page-title {
  margin: 20px auto;
  text-align: center;
}

#home-container {
  display: flex;
  flex-direction: column;
}
#greeting {
  margin: 0 auto;
}
#home-components {
  display: flex;
  flex-direction: column;
}

#artist-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#artist-card {
  margin: 10px;
  width: 15vw;
  height: auto;
  min-height: 329px;
  display: flex;
  /* border-radius: 50%; */
}
#artist-card-body {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
#btn-view-artist {
  align-self: center;
}




#artwork-container {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  column-count: 4;
  column-gap: 0;
}
#artwork-card {
  margin: 10px;
  height: auto;
  width: fit-content;
  max-width: 330px;
  display: flex;
}
.card-img {
  width: 100%;
  height: auto;
}

#single-artwork-details {
  background-color: whitesmoke;
  margin: 5% 0 1% 0;
  padding: 2%;
  border-radius: 25px;
}
#artwork-tags-container {
  background-color: whitesmoke;
  padding: 2%;
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.artwork-tags {
  margin: 0 5px;
}
#tags-header {
  margin: 0;
}


#party-card {
  display: flex;
}
#featured-artwork-container {
  display: flex;
}
#featured-artwork {
  height: 80%;
}
