@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Ojuju:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bgwhite: #E6E6E6;
  --blackish: rgb(60, 60, 60);
  --peony: #F6C3AE;
  --peony-hover: #fbdbce;
  --brick: #F0743E;
  --brick-hover: rgb(244, 142, 99);
  --lavender: #CDBCDB;
  --lavender-hover: #d9d7da;
  --sunshine: #FDD848;
  --sunshine-hover: #ffe991;
  --katydid: #AAD59E;
  --katydid-hover: #cfddcb;
  --puddle: #9AB2D4;
  --puddle-hover: #bec7d5;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bgwhite);
}

.btn {
  font-family: "Raleway", sans-serif;

  &:hover {
    color: #fff !important;
  }
}

#login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20vh 0;
}

#login-msg {
  font-family: "Madimi One", sans-serif;
  margin: 2vh;

  h1 {
    font-size: 12rem;
    font-weight: 500;
    color: var(--blackish);
  }
  h4 {
    color: var(--blackish);
  }
  p {
    max-width: 80%;
    margin: 3% auto;
    font-family: Raleway;
    background-color: white;
    padding: 3%;
    border-radius: 50px;
  }
}

#signin-btn {
  width: 30%;
  background-color: var(--brick);
  border: none;
  padding: 2%;

  &:hover {
    background-color: var(--brick-hover);
  }
}

nav {
  background-color: var(--brick);
  height: 25vh;
  font-family: "Raleway", sans-serif;
}
/* #nav-item-container {
} */
#responsive-navbar-nav {
  position: absolute;
  right: 2%;
}
.nav-link {
  align-self: center;
  color: whitesmoke;
  font-size: 100%;
  margin: 0 3%;
  min-width: 60%;
  border: 2px white solid;
  border-radius: 25px;
  text-align: center;
}
#nav-links {
  display: flex;
  margin: 25px;
}
#nav-btns {
  display: flex;
  margin: 10px;
}

#logo {
  font-family: "Madimi One", sans-serif;
  font-size: 500%;
  font-weight: 500;
}

.page-title {
  margin: 6vh auto 0 auto;
  text-align: center;
  font-family: "Madimi One", sans-serif;
  font-weight: 600;
  font-size: 7rem;
  color: var(--blackish)
}
.page-subtitle {
  margin: 6vh auto 0 auto;
  text-align: center;
  font-family: "Madimi One", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: var(--blackish)
}

#home-container {
  display: flex;
  flex-direction: column;
}
#greeting {
  margin: 5vh auto 0 auto;
}

#home-components-container {
  display: flex;
  flex-direction: column;
}
.home-component {
  margin-top: 3vh;
}
